.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* custom styles */
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  border: 1px solid black;
}

h1 {
  text-align: center;
  background-color: #051f53;
  color: aliceblue;
  padding: 32px;
}

.buttons {
  background-color: black;
  color: white;
  border: none;
  margin-right: 20px;
  padding: 6px 16px;
  border-radius: 4px;
  margin-top: 20px;
}
.active_one {
  background-color: aquamarine;
  color: lightcoral;
}
/* people */
.flex {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 250px;
  border: 10x solid black;
  background-color: rgba(137, 43, 226, 0.253);
  margin-top: 40px;
  border-radius: 16px;
  display: flex;
  margin: 30px;
  padding: 5px;
}

.image {
  border-radius: 50%;
  margin-top: 20px;
  border: 1.4px solid black;
  padding: 0.5px;
  
}
.name {
  font-size: 24px;
}
.description {
  font-size: 14px;
}
.know {
  margin-bottom: 20px;
  padding: 6px 18px;
  border: none;
  background-color: #282c343b;
  color: black;
}